/* MessagesComponent's private CSS styles */
h2{
  color: red;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  text-transform: uppercase;
  font-weight: bold;
}

.container{
  margin-top: 20px;
}

.log{
  border-bottom: 1px solid gray;
  height:40px;
  line-height: 40px;
}
