img{
  width:100%;
  height:500px;
  padding:10px;
}

.container{
  border:1px solid gray;
  margin:5px 5px 25px 5px;
  padding:0px;
  overflow: hidden;
}

.id{
  float:left;
  height:46px;
  border-right:1px solid gray;
  border-bottom: 1px solid gray;
  border-bottom-right-radius: 10px;
  background-color:#007bff;
  color:white;
  width:50px;
  padding:10px 10px;
}

.title{
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 2px;
}

.delete{
  float:right;
  height: 46px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  padding: 5px 20px;
}

.delete:hover{
  background-color: red;
}