

<form class="form-inline">
  <div id="search-component">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" class="form-control mr-sm-2" type="search" placeholder="Search Hero" aria-label="Search">
    <button class="btn btn-dark btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  
    <ul class="search-result">
      <li *ngFor="let hero of heroes$ | async" >
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </li>
    </ul>
  </div>
  
</form>